<a 
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix"
>
<div class="pull-left">
    <h4 class="list-group-item-heading">{{phone.name}} </h4>
     <p class="list-group-item-text">{{phone.description}}</p> 
     <p class="list-group-item-text">{{phone.price | currency: 'EUR'}} </p>
</div>
<span class="pull-right">
    <img 
    [src]="phone.imagePath" 
    alt="{{phone.name}}"
    class="img-responsive"
    style="max-height: 50px;">
</span>
</a>
